.video-container {
  width: 600px;
  margin: 0 auto;
  display: block;
  position: relative;
  margin-bottom: 0.5em;
}

.video-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
input[type=text] {
  pointer-events: none;
  -webkit-appearance: none;
  border-color: #99258d;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 37, 141, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 37, 141, 0.6);

}
html{
  font-family: 'Avenir', 'Arial', sans-serif;
}
header ul, h1, h2, h3{
  font-weight: 700;
  display: flex;
}
.oba img {
  width: 150px;
}
.junior{
  display: none;
}
.log{
  display: block;
}
.kind .logo{
  display: none;
}
.kind .junior{
  display: block;
}
h3{
  padding: 0 1.5rem;
}
header nav a, header nav a:visited{
  text-decoration: none;
  color: #000;
}
header nav li{
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
header nav li:hover a{
  cursor: pointer;
  color: red;
}
header ul{
  list-style: none;
  display: flex;
}
main section{
  display: flex;
  flex-wrap: wrap;
}
main section {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding-top: 0;
  transition: 0.25s;
  top: 0;
  left: 0;
  z-index: 1;
}

.active {
  opacity: 1;
  height: auto;
  padding-bottom: 5rem;
  z-index: 2;
  width: 100%;
}

/* Book details */
/* Junior */
.kind a:nth-of-type(odd) .card-body{
  background-color: blueviolet;
}
.kind a:nth-of-type(even) .card-body{
  background-color: yellow;
}
/* Normaal */
.card-body{
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  height: 25em;
  align-items: center;
  max-width: 20em;
  min-width: 20em;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.087);
}
.card-body h3{
  max-height: 1.5em;
  overflow-y: hidden;
}
main a {
  color: #000;
  text-decoration: none;
  margin: 1rem;
}

.book-cover{
  max-height: 60%;
  object-fit: contain;
  width: 80%;
}