button {
  display: none;
  font-size: 1em;
  color: #fff;
  background-color: red;
  margin: 0;
  padding: .5rem;
  border: none;
}
button:hover, button:active{
  background-color: brown;
}
.display {
  display: block;
}
@media (min-width: 769px){
  .des-container{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }
  .des-container p {
    width: 300px;

  } 
  .des-container form {
    width: 300px;
  }
}
.des-container{
  border-top: 2px solid red;
}
.video-container {
  width: 300px;
  height: 200px;
  /* margin: 0 auto; */
  display: block;
  position: relative;
  /* margin-bottom: 0.5em; */
}

/* form {
  margin-left: 4em;
} */

.video-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input[type=text] {
  pointer-events: none;
  -webkit-appearance: none;
  border-color: rgb(235, 235, 235);
  outline: 0;
  font-size: 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(235, 235, 235);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(235, 235, 235);

}

.kind input[type=text] {
  pointer-events: none;
  -webkit-appearance: none;
  border-color: rgb(235, 235, 235);
  outline: 0;
  font-size: 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px blueviolet;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px blueviolet;

}

form input {
  margin-right: 1em;
}

html {
  font-family: 'Avenir', 'Arial', sans-serif;
}

header ul,
h1,
h2,
h3 {
  font-weight: 700;
  display: flex;
}

header ul {
  padding-left: 0;
}

form p {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

@media (max-width:768px) {
  main {
    margin-top: 1.5rem;
  }
  button {
    margin: 0 auto;
  }
  .des-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    display: block;
    margin-bottom: 1em;
  }

  .description{
    padding-left: 1.5rem;
  }

  form p {
    display: flex;
    justify-content: space-between;
    width: 250px;
  }

  header nav ul {
    display: block;
  }
}
.detail-block{
  max-width: 30em;
}
.oba img {
  width: 150px;
}

.junior {
  display: none;
}

.log {
  display: block;
}

.kind .logo {
  display: none;
}

.kind .junior {
  display: block;
  width: 100px;
  margin-right: 50px;
}

h3 {
  padding: 0 1.5rem;
}

header nav a,
header nav a:visited {
  text-decoration: none;
  color: #000;
}

header nav li {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

header nav li:hover a {
  cursor: pointer;
  color: red;
}

header ul {
  list-style: none;
  display: flex;
  height: auto;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main section {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding-top: 0;
  transition: 0.25s;
  top: 0;
  left: 0;
  z-index: 1;
}

.active {
  display: flex;
  opacity: 1;
  height: auto;
  padding-bottom: 5rem;
  z-index: 2;
  width: 100%;
  justify-content: space-around;
}

/* Book details */
/* Junior */
.kind a:nth-of-type(odd) .card-body {
  background-color: blueviolet;
}

.kind a:nth-of-type(even) .card-body {
  background-color: yellow;
}

/* Normaal */
.card-body {
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  height: 25em;
  align-items: center;
  max-width: 20em;
  min-width: 20em;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.087);
}

.card-body h3 {
  max-height: 1.5em;
  overflow-y: hidden;
}

main a {
  color: #000;
  text-decoration: none;
  margin: 1rem;
}

.book-cover {
  max-height: 60%;
  object-fit: contain;
  width: 80%;
}