.video-container {
  width: 600px;
  margin: 0 auto;
  display: block;
  position: relative;
  margin-bottom: 0.5em;
}

.video-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
html{
  font-family: 'Avenir', 'Arial', sans-serif;
}
header ul, h1, h2, h3{
  font-weight: 700;
}
h3{
  padding: 0 1.5rem;
}
header nav a, header nav a:visited{
  text-decoration: none;
  color: #000;
}
header nav li{
  padding: 0 1.5rem;
}
header nav li:hover a{
  cursor: pointer;
  color: red;
}
header ul{
  list-style: none;
  display: flex;
}
main{
  display: flex;
  flex-wrap: wrap;
}
main section {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding-top: 0;
  transition: 0.25s;
  /* position: absolute; */
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 1;
}

.active {
  opacity: 1;
  height: auto;
  padding-bottom: 5rem;
  z-index: 2;
  width: 100%;
}

/* Book details */
.card-body{
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  height: 25em;
  align-items: center;
  max-width: 20em;
  min-width: 20em;
}
.card-body h3{
  padding-top: 1.5rem;
}
main a {
  margin: 1rem;
}
main a:nth-of-type(odd) article{
  background-color: blueviolet;
}
main a:nth-of-type(even) article{
  background-color: yellow;
}
.book-cover{
  max-height: 60%;
  object-fit: contain;
  width: 80%;
}